/*CSS reset settings here*/
*{
 padding: 0px;
 
}
#wrapper{
 width: 940px;
 height: 610px;
 background-color: silver;
 margin-left: 20px;
 margin-right: 20px;
 padding: 20px;
}
#header{
 height: 150px;
 background-color: green;

}
#navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
 margin-top: 20px;
 display: inline-block;
}
#main_content{
 height: 400px;
 width: 700px;
 background-color: red;
 margin-top: 20px;
 margin-bottom: 20px;
 float: right;
}
.subcontents{
 height: 200px;
 width: 210px;
 background-color: yellow;
 margin-left: 10px;
 margin-top: 15px;
 margin-bottom: 20px;
 display: inline-block;
}
#advertisement{
 height: 120px;
 width: 660px;
 margin-left: 10px;
 background-color: purple;
 display: inline-block;
}
